# virtualBox and vagrant
*.ova
*.vdi
*.vbox
.vagrant/

# ansible
*.retry

# logs and temp
*.log
logs/
tmp/

# credentials and environment variables
*.env
.env
secret.tfvars

# IDEs
.idea/
.vscode/
.DS_Store